@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-shadow:3px 3px 3px rgb(65, 65, 65);
}
.item {
  font-family: 'Nanum Pen Script', cursive;
  margin: 50px auto;
  padding-top: 75px;
  text-align: center;
  color: #4E4C48;
  font-size: 70px;
}
.main_image {
  position: relative;
}
.main_image_text {
  letter-spacing: 5px;
  font-size: 75px;
  position: absolute;
  top: 60%;
  left: 50%;
  color: white;
}